<h2 style="font-weight: bold; ">
  Olá {{name}}, tudo bem?
</h2>
<h3 style="font-weight: normal;">
  Você enviou a seguinte questão: "<span style="font-weight: bold">{{question}}</span>".
  Segue nossa resposta: {{answer}}
  <br />
  Caso ainda esteja com alguma dúvida, solicite apoio pelo mesmo canal. Obrigado!
</h3>
